.Panel {
    margin-left: 14px;
    display: flex;
    flex-wrap: wrap;
    height: 81%; /* Cambiar la altura según tus necesidades */
    width: 390px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* border: 1px solid black; */
  }
  
  .Panel .h {
    width: 100%; /* Cambiar el ancho según tus necesidades */
    height: 100%; /* Cambiar la altura según tus necesidades */
  }
  
  .Panel .h .container {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    backdrop-filter: blur(15px);
  }
  
  .Panel .h .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.302), transparent);
    transform: skewX(45deg) translateX(0);
  };

  .container .l {
    border-bottom: 1px solid black;
  }



  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }


  .bounce {
    animation: bounce 1s;
  }
  

  
